<h1>Lights: <%= length(@conns) %></h1>

<h1>Devices</h1>
<div class="p-1">
  <button
    phx-click="add_device"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
  >
    Add device
  </button>
</div>

<%= for conn <- @conns do %>
  <div>name: <%= conn.name %></div>
  <.live_component
    module={GoveePhxWeb.GoveeControlsComponent}
    id={"comp-id-#{id(conn)}"}
    conn={conn}
  />
<% end %>
